<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Air quality</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/air_quality.css') }}">
    
    
    </head>
    <body>
        <div class="banner-area">
          <div class="area">
            <img src="{{ url_for('static',filename='weather.svg') }}" class="icons">
            <h4>Weathru</h4>
            </div>
                     <ul class="area2">
                            <li><a href="/about">About</a></li>
                             <li><a href="/news">News</a></li>
                             <li><a href="/contact">Contacts</a></li>
                             <li><a href="/signup">Sign up</a></li>
                     </ul>
            </div>        
            <header>
              
                <div class="menu">

                <li><a href="/results">Today</a></li>   
                    <li><a href="/hourly">Hourly</a></li> 
                      <li><a href="/daily">Daily</a></li>
                        <li><a href="/air_quality">Air Quality</a></li>
                        
                </div>
                     
                </header> 
                <div class="form-box">
                  <form id="weatherForm" method="POST" action="{{ url_for('render_results') }}">
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                    <select required id="country" name="country" placeholder="select country" class="search-field location1">
                      <option select disabled value="">Country</option>
                      <option value="Australia">Australia</option>
                      <option value="India">India</option>
                      <option value="USA">USA</option>
                    </select>
                     
                    <select required id="location" name="location" placeholder="select city"  class="search-field location2">
                      <option select disabled value="">Location</option>
                    </select>
                    <input id="weatherSubmit" type="submit" value="Search" class="search-btn"/>
                  </form>
                 </div> 
                 <div class="container">
                  <div class="glassmorphism">
                      <div class="weather-box1">

                       
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
                        
                        
                        <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
                        
                        <script>
                        
                         var yValues = '{{ first }}';
                         var barColors = [
                              "green"
                              ]
                        
                       
                        new Chart("myChart", {
                          type: "doughnut",
                          data: {
                            
                            datasets: [{
                              backgroundColor: barColors,
                              data: yValues
                            }]
                          },
                          options: {
                            title: {
                              display: true,
                              
                            }
                          }
                        });
                        </script>
                        
                      
                        
                           
                         
                          <h2>AQI {{ first }}</br></h2>
                          
                          <div class="location">
                            <i class="fa fa-map-marker" aria-hidden="true"></i> 
                            <span>{{ place }}, {{ country }}</span>
                          </div>
                        </div>
                          <div class="weather-box2">
                            <div class="bottom">
                              <div>Poor<br><b>
                                <span>The air has reached a high level of pollution and is unhealthy for sensitive groups</br> </span></div>
                               </br> </b></div>
                           
                      
                             
                                    
                                      
                              <div class="bottom5">
                                <hr style="border-color: #660000;">
                                <div>Very poor<br><b>
                                  <span class="dot5"></span>
                                 <span>Any exposure to the air, even for a few minutes, can lead to serious health effects on everybody. Avoid outdoor activities.</span></div>
                                </br> </b></div>
                            
                              <div class="bottom4">
                                <div>Poor<br><b>
                                  <span class="dot4"></span>
                                 <span>Health effects will be immediately felt by sensitive groups and should <br>avoid outdoor activity. Healthy individuals are likely to experience </br>difficulty breathing and throat irritation</span></div>
                                </br> </b></div>
                            
                
                          
                          <div class="bottom1">
                           <div>Moderate<br><b>
                            <span class="dot1"></span>
                            <span>The air has reached a high level of pollution and is unhealthy for sensitive groups</br> </span></div>
                           </br> </b></div>
                       
                        <div class="bottom2">
                          <div> Fair
                            <br><b>
                              <span class="dot2"></span>
                           <span>The air quality is generally acceptable for most individuals<br> </span></div>
                            </b></br>   </div>
                     <div class="bottom3">
                      <div> Good<br><b>
                        <span class="dot3"></span>
                        <span>The air quality is ideal for most individuals; enjoy your normal outdoor activities.</span>
                   </br>  </div>
                 </div> 
                          </div>

                          
                         
                      <div class="drops">
                        <div class="drop drop-1"></div>
                    <div class="drop drop-2"></div>
                        <div class="drop drop-3"></div>
                        <div class="drop drop-4"></div>
                      </div>
                  </div>
                  <div class="gallery">
                    <div class="row">
                      <div class="column">
                        <div class="content1">
                          <img src="{{ url_for('static',filename='second.jpg') }}" alt="Mountains" style="width:100%">
                          <h3>Srinagar updates</h3>
                          <p>Srinagar Weather Forecast. Providing a local hourly Srinagar weather forecast of rain, sun, wind, humidity and temperature.
                            The Long-range 12 day forecast also includes detail for Srinagar weather today.</p>
                        </div>
                      </div>
                      <div class="column">
                        <div class="content1">
                        <img src="{{ url_for('static',filename='hima.jpg') }}" alt="Lights" style="width:100%">
                          <h3>Meanwhile himalayan reasons are stunning now</h3>
                  <p>The Northern states like Himachal Pradesh experience a great weather in June and have the most stunning landscapes.
                  </p> </div>
                      </div>
                      <div class="column">
                        <div class="content1">
                        <img src="{{ url_for('static',filename='Thunderincity.jpg') }}" alt="Nature" style="width:100%">
                          <h3>Maharastra to face thunderelectricity</h3>
                          <p>The atmospheric conditions are quite conducive for formation of severe thunderstorms in the pre - monsoon season. There are sensitive weather pockets which enhance the ferocity of these storm. Eastern parts comprising of Bihar, Jharkhand and Odisha and plains of north India including Rajasthan and Uttar Pradesh are vulnerable to fatal lightning strikes.
                          </p></div>
                      </div>
                      <div class="column">
                        <div class="content1">
                        <img src="{{ url_for('static',filename='muss.jpg') }}" alt="Mountains" style="width:100%">
                          <h3>Best time to visit MUssorie</h3>
                          <p>Apart from the other-worldly beauty of a snow-clad Mussoorie, winter is a time of quiet contemplation and long brisk walks. People who visit Mussoorie </p>
                        </div>
                      </div>
                      
                      
            <footer class="footer">
              <div class="footer-left">
                <img src="{{ url_for('static',filename='weather.svg') }}" alt="">
                <p></p>
                <div class="socials">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  
                  <a href="#"><i class="fa fa-youtube"></i></a>
                  
                </div>
              </div>
              <ul class="footer-right">
                <li>
                   <div class="product">
                  <h2>Product</h2>
                    
                  <ul class="box">
                    <li><a href="#">for business</a></li>
                    <li><a href="#">for partners</a></li>
                    <li><a href="#">for advertising</a></li>
                    <li><a href="#">podcast</a></li>
                  </ul>
                  </div>
                </li>
            
           
                 
              <li class="features">
                <div class="links">
                <h2>Useful links</h2>
                <ul class="box">
                  <li><a href="#">Openweathermap api</a></li>
                  <li><a href="#">contact:riyanshasingh074@gmail.com</a></li>
                  <li><a href="#"><br>singhruby@gmail.com</a></li>
                  <li><a href="#"></a></li>
                </ul>
                </div>
              </li>
             <li> 
               <div class="address">
              <h2>Address</h2>
              <ul class="box">
                <li><a href="#">MMV,BHU Lanka,Varanasi</a></li>
                <li><a href="#">CS department,MMV</a></li>
                <li><a href="#">229402</a></li>
                <li><a href="#">Varanasi</a></li>
              </ul>
              </div>
                </li>

              </ul>


               <div class="footer-bottom">

                <p>All Right reserved by &copy;conceptial2021</p>
               </div>
            </footer>
            <script>
              $(document).ready(function () {
                $("#country").change(function () {
                  var val = $(this).val();
                    if (val == "Australia") 
                    {
                      $("#location").html("<option selected disabled value=''>Location</option><option value='Sydney'>Sydney</option><option value='Brisbane'>Brisbane</option><option value='Perth'>Perth</option>");
                    }
                    else if (val == "India") 
                    {
                      $("#location").html("<option selected disabled value=''>Location</option><option value='Ahmedabad'>Ahmedabad</option><option value='Bangalore'>Bangalore</option><option value='Delhi'>Delhi</option><option value='Kanpur'>Kanpur</option><option value='Kolkata'>Kolkata</option><option value='Lucknow'>Lucknow</option><option value='Srinagar'>Srinagar</option><option value='Varanasi'>Varanasi</option>")
        
                    }
                    else if (val == "USA") 
                    {
                      $("#location").html("<option selected disabled value=''>Location</option><option value='Chicago'>Chicago</option><option value='Houston'>Houston</option><option value='Las Vegas'>Las Vegas</option><option value='New York'>New York</option><option value='San Diego'>San Diego</option>");
                    }  
                    else if (val == "")
                    {
                      $("#location").html("<option selected disabled value=''>Location</option>");
                    }
                  });
                });  
              </script>
              </body> 
              </html>