<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title> latest news</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/news.css') }}">
</head>
<body>
    <body>
        <div class="banner-area">
          <div class="area">
            <img src="{{ url_for('static',filename='weather.svg') }}" class="icons">
            <h4>Weathru </h4>
                     <div class="area2">
                            <li><a href="/about">About</a></li>
                             <li><a href="/news">News</a></li>
                             <li><a href="/contact">Contacts</a></li>
                             <li><a href="/signup">Sign up</a></li>
                     </div>
          </div>

    <section class = "main-container-right">
        {% for i in articles %}
        <article>
            <h2>Read</h2>
            <div>
                <h3>{{ i['title'] }} </h3>
                <p>{{ i['description'][:100] }}....</p>
                <a href = "{{ i['url'] }}">Read More</a>
            </div>
            <img src = "{{ i['urlToImage'] }}">
        </article>
        {% endfor %}
    </section>
    
   
 </div>           
</body>
</html>