<!DOCTYPE html>
<html>
    <head>
        <title>Results showing weather conditions</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/show.css') }}">
        </head>
        <body>
            <ul class="menu">
                    
                <li><a href="/">HOME</a></li>
                <li><a href="/services">services</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
            <div class="bg"></div>
            <div class="container">
            <div class="widget">
                <div class="left">
                    <img src="weather.svg" class="icons">
                <h5 class="weather_status">{{result.weather}}</h5>               
             </div>
             <div class="right">
                 <h2 class="City">City{{result.city}}</h2>
                 <h5 class="degree">{{result.temp}}deg&#176;C</h5>
             </div>
              <div class="bottom">
                   <div>latitude and longitude <span> <br> {{result.latitude}},{{}} </br> </span></div>
                   <div>  Humidity <span><br>{{result.humidity}}</br></span></div>
                   <div>  pressure <span><br>{{result.pressure}}</br></span></div>
              </div>
            </div>
            </div>
        </body>
</html>